body{
    color: #bfc1c8;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}
.description{
    
    font-size: 0.6142857143em;
    display: block;
    color: #bfc1c8; 
}
.title{
    margin-bottom: 5px;
    
    font-size: .8428571429em;
    color: white;
}
.navbar-nav .nav-link.active{
    color: #0a58ca!important;

}

  

.navbar .navbar-nav .myItem:hover{
   border: solid 2px  #009ed9;
 border-radius: 50rem;
}
.navbar .navbar-nav .myItem:hover a{
  color: #009ed9!important;
  
}
.banner{
    background-image: url(../images/banner.png);

    background-size: cover;
}
.form-control::placeholder{color:rgb(255, 255, 255);opacity:0.5;font-size: 14px;font-weight: 300;}
.weather-cards{
    bottom: 390px;
}
.light-dark{
    background-color: #313544;
}

.footer{
    background-color: #252936;
}
.dateItem{
    background-color: #2c303d;
    /* border:solid 1px #2c303d;
    border-top-left-radius: 10px; */
}
.right-raduis{
    border:solid 1px #2c303d;
    border-top-right-radius: 10px;
}
/* .forecast-weather  {
border:solid 1px #2c303d;
    border-top-right-radius: 10px;
} */
/* .today-weather {
    border:solid 1px #2c303d;
    border-top-left-radius: 10px;
} */
.light-dark2{
    background-color: #252936;
}
.data{
    translate:  0 -140px;
}
h2{
font-size: 6.4rem;
text-align: center;
color: white;
}
.today-weather .img img{
    width: 30%;
}
.forecast-weather .img img{
    width: 20%;
}
/* .today-weather{
    min-height: 390px;
}
.forecast-weather{
        min-height: 390px;
} */
.my-btn{
    top:12%;
    right: 1%;
}
.footer i {
    width: 42px;
    height: 42px;
    font-size: 20px;
    transition: all 0.5s;
}
.footer i:hover {
    color:white!important;
    background-color: #0a58ca!important;
}
